<!DOCTYPE html>
<html>
<head>
    <title>Credits</title>
</head>
<body>
<a href= http://localhost:3000>Index</a>
<h1><%= title %></h1>
<p>MARINA GONZALEZ GONZALEZ</p>
<p>MARIA ORTEGA PEREZ</p>
</body>
</html>